html, body{
    font-size: 16px;
    font-family: "Proza Libre", sans-serif;
    background-color:#f0f0f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 1rem 5rem;
    color: #28334AFF;
    padding: 1rem;
    max-width: 1000px;
}

.photo img {
    width: 300px;
    border-radius: 10px;
}

h1 {
    font-weight: 900;
    color: #333D79FF;
    padding-bottom: 0;
    margin-bottom: -0.5rem;
}

h2 {
    font-weight: 700;
    color: #333D79FF;
    font-size: 1.1rem;
}

h3 {
    font-weight: 800;
    color: #333D79FF;
    font-size: 1.2rem;
}

p {
    line-height: 1.4rem;
}

header {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.3rem;
    background-color: #d1d1e0;
    border-radius: 10px;
}

.menu-bar {
    margin-right: 2rem;
}

.menu {
    list-style-type: none;

}

.menu li {
    display:inline;
    text-decoration: none;
    margin: 0 0.8rem;
}

.menu li a {
    text-decoration: none;
    color: #333D79FF;
    font-size: 1.3rem;
}

.menu li a:hover, .menu li a:before {
    text-decoration: none;
    color: #A43820;
    font-size: 1.4rem;
    transition: all .1s ease;
    text-decoration: underline;
}

.about-me {
    margin-top: 2rem;
    display: flex;
}

.about {
    padding-right: 3rem;
    text-align: justify;
}

.photo {
    display: flex;
    align-items: center;
}

.contact-links {
    font-size: 1.5rem;
    font-weight: bolder;
    color:#333D79FF;
}
.contact img {
    height: 1.8rem;
    margin: 0 0.5rem;
}

.projects {
    max-width: 65%;
}

.projects-list p {
    line-height: 1rem;
}

.project-img {
    max-width: 100%;
}

.projects-list li h4:hover {
    cursor: pointer;
    color: #A43820;
}

.project {
    display: none;
}

.projects-skills {
    display: flex;
    justify-content: space-between;
}

.skills {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
}

.skills-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.skills-list img {
    height: 2rem; 
    margin: 0.5rem;
}

footer {
    margin-top: 4rem;
    background-color: #d1d1e0;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #333D79FF;
    font-weight: bold;
}

@media screen and (max-width: 950px){
    header {
        flex-direction: column;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    body {
        margin: 0 auto;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .projects-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .projects, .skills {
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }

    .projects, .skills ul li {
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }

    .projects h3 {
        text-align: center;
    }


    .skills h3 {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1rem;
    }

    .project {
        width: 100%;
        margin: 0 auto;
    }
}